.container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  padding: 20px;
}

.container div {
  background-color: white;
  width: 350px;
  margin: 10px;
  padding: 20px;
  text-align: center;  
  border: 2px solid navy;
  border-radius: 10px;
}
