.container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  padding: 20px;
  justify-content: center;
}

.container div {
  background-color: white;
  width: 350px;
  margin: 10px;
  padding: 20px;
  text-align: center;  
  border: 2px solid navy;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
