body {
  background-color: lightblue;
  text-align: center;
}

h1 {
  color: navy;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

h3 {
  color: darkblue;
  text-align: center;

p {
  text-align: center;
  color: indigo;
}
